# Variáveis de ambiente
.env

# Banco de dados
*.sqlite3
db.sqlite3

# Node.js (frontend React)
node_modules/
build/
dist/
.env.local
.env.development
.env.production

# Python (backend FastAPI)
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/

# VSCode e sistema operacional
.vscode/
.DS_Store
*.log
